body {
  color: rgb(17, 10, 10);
  background-color: rgb(205, 162, 245);   
  background-image: url('https://media.tenor.com/OROvxHU90ygAAAAM/food-foodie.gif');
  margin: 0;
  text-decoration: none;
  text-align: center;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}